* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #4d4c59;
  --purple: #6c63ff;
  --light-grey: #c8c8c8;
  --text-color: #9c9ab6;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}

button {
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 10rem;
}

.countdown-container > h1 {
  text-align: center;
  text-transform: uppercase;
  color: var(--purple);
  letter-spacing: 0.35rem;
  font-weight: bold;
  font-size: 2.25rem;

  margin-bottom: 1.5rem;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;

  width: 100%;
  height: 100%;

  color: var(--light-grey);

  margin-bottom: 0.75rem;
}

.seconds-container,
.minutes-container,
.hours-container,
.days-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-bottom: 1rem;
}

.seconds-container > #seconds,
.minutes-container > #minutes,
.hours-container > #hours,
.days-container > #days {
  color: black;
  font-size: 4.75rem;
}

.separator {
  color: black;
  font-size: 5rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content > p {
  color: var(--text-color);
  text-align: center;

  margin-bottom: 2rem;
}

.content > button {
  padding: 0.75rem 2.25rem;
  border-radius: 0.5rem;

  background-color: var(--purple);
  border: 1px solid var(--purple);
  color: #fff;
  font-size: 1rem;

  font-family: "Poppins", sans-serif;
}
